@tailwind base;
@tailwind components;
@tailwind utilities;

.badge {
  white-space: nowrap;
}

#graph-container {
  width: 100%;
  height: calc(100vh - 8rem);
  border: 1px solid hsl(var(--b3));
  border-radius: 0.5rem;
}
